/* Common styling */

body {
   font-family: arial, times, serif;
   margin: 0;

}

p, h2, h3, h4, ol {
    color: #e5e7eb;
    margin: 0;
}

.buttonstyle {
    background-color: #3882F6;
    color: #e5e7eb;
    font-weight: 600;
    width: 95px;
    height: 35px;
    border-radius: 12px;
    border: 0;
}

/* First section */

.headersection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

ol {
    display: flex;
    list-style: none;
    gap: 20px;
}

.firstsection {
    background-color: #1f2937;
}

.awesomesection {
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    padding: 100px;
    gap: -50px;

}

.awesomesection img {
    width: 500px;
    height: 250px;
}

.awesomecolumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-wrap: break-word;
    width: 40%;
}

.maintext {
font-size: 48px;
font-weight: 800;
color: #F9FAF8;
}

/* Second section */

.secondsection {
    margin: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.secondsection p {
    color: #1f2937;
}

.mid {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

.box {
    height: 150px;
    width: 150px;
    outline-style: solid;
    outline-width: 3px;
    outline-color: #3882F6;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
}

.square {
    overflow: hidden;
    width: 100%;
    height: 10%;
    padding-top: 100%;
  }

.sndheader {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;

}

/* Third section */

.thirdsection {
    background-color: #e5e7eb;
    padding: 50px;
}

.thirdp {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 800px;
    gap: 20px;
}

.italics {
    font: italic 36px sans-serif;
    font-weight: 300;
    color:rgb(66, 66, 66);
    
}

.thor {
    display: flex;
    justify-content: flex-end;
    color: rgb(109, 109, 109);
    font-weight: bold;
}

 /* Fourth section */

 .fourthsection {
    display: flex;
    height: 0 auto;
    width: 0 auto;
    padding: 100px;
 }

 .fourbox {
    margin: 0 auto;
    width: 925px;
    height: 150px; 
    border-radius: 10px;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    
 }

 .fourtext {
    flex-direction: column;
 }

 .buttonstyle2 {
    background-color: #3882F6;
    color: #e5e7eb;
    font-weight: 900;
    font-size:medium;
    width: 130px;
    height: 35px;
    border-radius: 12px;
    border-color: white;
    border-style: solid;
 }



  /* Fifth section */
  .footer {
    background-color: #1f2937;
    text-align: center;
    padding: 40px;
  }